body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }
  
  header {
    top:0; /* fija el header a la lparte superior de la ventana grafica */
    width: 100%;
    height: auto;
    background-color: #1b1b32;
    display: flex;
    flex-wrap: wrap;
    position: fixed; /* fixed el elemento es removido del flujo normal del documento */
    justify-content: space-between; /* reparte el espacio justificando el contenido */
    align-items: center; /* centra verticalmente los items */
  }
  
  
  #logo {
    width: max(100px, 18vw);
    aspect-ratio: 35 / 4;
    background-color: #0a0a23;
    padding: 0.4rem;
  }
  main {
    padding: 45px 0;
  }

  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
 
  li > a {
    text-decoration:none;
    color: inherit; /* termino para heredar del body o de 
                        algun valor superior en jerarquia para
                        el css */
  }
  /*quita el subrayado al link */
  li > a:link { text-decoration:none; }  
  
  /*quita el subrayado al visitar el link*/
  li > a:visited { text-decoration:none; }  
  
  /* invierte el fondo con el frente para realizar  un contraste al pasar 
  sobre la opcion */
  nav > ul > li:hover{
    background-color: #acf36a;
    color: #00000c;
    cursor: pointer; /* cambia el puntero a una manita señalizadora */
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    flex-wrap:wrap;
  }
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }

  h1, h2 {
    font-family: Verdana, sans-serif;  
  }
  h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top:0;
    padding-top:60px;
}

  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  
  

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  p:before {
    content: "Question #";
  }

  section {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 80%; 
    max-width:600px 
  }
  .formrow {
  margin: 30px 0px 0px 0px;
  padding: 0px 15px;
}

input {
  font-size: 14px;
}
.info {
    padding: 10px 0 0 5px;  
  }
.info input {
     
    text-align: left;
    width: 50%;
  }
.info label{
    
    text-align: right;   
    width: 15%;
    min-width: 55px;
}

.info label, .info input{
    display: inline-block;  
    }

.question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
    
    }
p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
}
.question {
    border: 0;
    padding-bottom:0;
}
.answer-list{
    padding:0;
    list-style: none;
    /*Elimina el estilo predeterminado para los elementos de la lista
     .answers-list, y elimina el relleno de la lista desordenada.*/
}
button {
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;
  
  }
  footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
    
  }

  footer, footer a {
    color: rgb(223, 223, 226);
  }
  footer a:link { text-decoration:none; }
  footer a:visited { text-decoration:none; }
  address {
    text-align: center;
    padding: 10px;
  }

  /*Ciertos tipos de animaciones basadas en el movimiento pueden causar molestias
   a algunos usuarios. En particular, personas con trastornos vestibulares tienen
    sensibilidad a ciertos desencadenantes del movimiento.

    La regla-at @media tiene una característica de medios llamada prefers-reduced-motion
 para establecer CSS basado en las preferencias del usuario. Puede tomar uno de los
  siguientes valores:

  
    reduce
    no-preference

                @media (feature: value) {
                    selector {
                        styles
                    }
                }

  */

  @media (prefers-reduced-motion: no-preference){
    *{
    scroll-behavior: smooth;
    }
  }